/* NotoSerif used for body */
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'NotoSerif';
  src: url('Noto_Serif/NotoSerif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Yanone Kaffeesatz used for h1, h2, h3 */
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
  font-family: 'Yanone_Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
}

/* Ubuntu Mono used for code, do we need Italic for code ? */
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
